<div class="screen screen--end">
    <div class="screen-inner">
        <div class="top-section">
            <h2>Sveikiname!</h2>
            <div class="game-end-text">
                Per
                <span class="time-holder"></span> atsakėte
                <span class="answers-holder"></span>.
            </div>

            <div class="end-game-buttons">
                <div class="register-leader">
                    <p>
                        <strong>Jūsų rezultatas pateko į geriausiųjų dešimtuką!</strong>
                        <small>Įveskite savo vardą ir išsaugokite rezultatą.</small>
                    </p>
                    <form action="post" id="leader-form" name="leader_form">
                        <input type="text" name="leader_name" id="leader_name" placeholder="Naudotojo vardas">
                        <input type="submit" value="Registruoti" name="leader_form" class="btn">
                    </form>
                </div>
                <a href="" class="btn restart-game">Žaisti dar kartą</a>
                <a href="" class="btn go-to-main">Grįžti į pražią</a>
            </div>
        </div>

        <div class="bottom-wrapper">
            <div class="bottom-wrapper__content">
                <h3 class="bottom-wrapper--header">Pasitikrink atsakymus</h3>
                <div class="results-holder">
                    <ul class="results">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
