<div class="screen screen--game">
    <div class="screen-inner">
        <div class="top-section">
            <div class="game-status">
                <div class="timer"><span class="time-icon"></span><span class="timer-content"></span></div>
                <div class="question-count">2 / 20</div>
            </div>
            <div class="main-fact-section">
                <div class="main-fact">

                </div>
            </div>
        </div>
        <div class="bottom-wrapper">
            <div class="bottom-wrapper__content">
                <div class="socondary-fact">

                </div>
                <div class="bottom-buttons">
                    <a href="" class="btn btn--before">Anksčiau</a>
                    <a href="" class="btn btn--after">Vėliau</a>
                </div>
            </div>
        </div>
        <div class="game-starting-overlay">
            <div class="game-starting-overlay--counting">
                3
            </div>
        </div>

    </div>
</div>
