<div class="screen screen--start">
    <div class="screen-inner">
        <div class="top-section">
            <a href="" class="logo"><img src="{{ asset('assets/img/logo.png') }}" alt=""></a>
            <div class="rules">
                "Prieš ar po" - tai žaidimas skirtas pasitikrinti savo istorijos žinias.
                Pasakyk ar istorinis įvykis įvyko anksčiau ar vėliau ir įrodyk,kad esi geriausias istorikas!
            </div>
        </div>

        <div class="bottom-wrapper">
            <div class="bottom-wrapper__content">
                <div>
                    <a href="#" class="btn btn--start-game">Pradėti</a>
                </div>
                <div>
                    <a href="#" class="btn btn--show-leaderboard"><span class="icon icon-leader"></span>Žiūrėti geriausius</a>
                </div>
            </div>
        </div>
    </div>
</div>
