<div class="screen screen--start">
    <div class="top-section">
        <a href="" class="logo"><img src="{{ asset('assets/img/logo.png') }}" alt=""></a>
        <div class="rules">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi corporis delectus
            deserunt, eligendi enim eos eum facere inventore ipsum magnam nulla numquam quasi qui rem suscipit
            velit.
            Debitis, dolorum.
        </div>
    </div>

    <div class="bottom-wrapper">
        <div class="bottom-wrapper__content">
            <div>
                <a href="#" class="btn btn--start-game">Pradėti</a>
            </div>
            <div>
                <a href="#" class="btn btn--show-leaderboard"><span class="icon icon-leader"></span>Žiūrėti geriausius</a>
            </div>
        </div>
    </div>
</div>
