<div class="loader">
    <div class="loader-elem">
        <span class="load-circle"></span><span class="load-circle"></span><span class="load-circle"></span>
        <div class="loader-text"></div>
    </div>
</div>