.screen--start {
  text-align: center;

  .bottom-wrapper__content{
    margin-top: 10px;
    align-self: center;
  }
}

.logo {
  display: block;
  margin-top: 30px;

  img {
    max-width: 170px;
  }

  @media #{$extraSmall}{
    margin-top: 10px;
    img {
      max-width: 80px;
    }
  }
}

.rules {
  margin-top: 30px;
  padding: 20px 100px;
  font-size: 14px;

  @media #{$extraSmall}{
    margin-top: 5px;
    padding:10px;
    font-size: 12px;
  }
}

.btn--start-game {
  margin: 20px auto;
  padding: 20px 80px;
  font-size: 32px;

  @media #{$extraSmall}{
    padding: 10px 20px;
    font-size: 18px;
  }
}
.btn--show-leaderboard{
  font-size: 16px;
  margin-bottom: 30px;

  @media #{$extraSmall}{
    padding: 5px 10px;
    font-size: 14px;
  }
}

.icon{
  display: inline-block;
  height:30px;
  width: 30px;
  vertical-align: middle;
  opacity:0.9;

  @media #{$extraSmall}{
    height:20px;
    width: 20px;
  }
}
.icon-leader{
  background: url(../img/icon-leader.png) center center no-repeat;
  background-size: contain;
}