/**
* Variables for colors and dimensions used in the layout
**/

$dark_blue: #445D73;
$red: #fe6875;
$green: #01AF98;
$lime: #00B259;
$light_gray: #DDDDDD;

// Dimensions
$modal_width: 600px;
$header_height: 50px;

// Media variables
$extraSmall: "(max-width: 320px)";
$small: "(min-width: 320px) and (max-width: 768px)";
$medium: "(min-width: 768px) and (max-width: 1023px)";
$large: "(min-width: 1024px)";

$mediumUp: "(min-width: 768px)";