<div class="modal modal-alert">
    <div class="modal-alert--holder">
        <div class="modal-alert--message"></div>
        <div class="modal-alert--buttons">
            <a href="" class="btn alert-ok">Gerai</a>
        </div>
    </div>
</div>
