<div class="modal modal--full-details">
    <a href="" class="close-full-details">&times;</a>
    <header class="full-details-title"></header>
    <div class="full-details-content">

    </div>
</div>
