<div class="quit-modal">
    <div class="quit-modal--holder">
        <div class="quit-modal--question">Ar tikrai norite nutraukti žaidimą?</div>
        <div class="quit-modal--buttons">
            <a href="" class="btn quit-yes">Taip</a>
            <a href="" class="btn quit-no">Ne</a>
        </div>
    </div>
</div>
